$color: rgba(0, 0, 0, 0.65);
$color-disabled: rgba(0, 0, 0, .25);
$color-hover: #40a9ff;
$color-active: #1890ff;
$color-shadow: #f0f0f0;

.tabs {
    color: $color;
    font-size: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tab-label-container {
    position: relative;
    display: flex;
    border: 0px solid #f0f0f0;
    border-width: 0 0 1px 0;
    margin-bottom: 16px;
    .tab-label-plus {
        display: flex;
        align-items: center;
        margin-left: auto;
        
        .tab-label-icon {
            cursor: pointer;
            border: 1px solid $color-shadow;
            border-radius: 4px;
            transition: all .3s;
            svg {
                display: block;
                fill: $color;
                transition: all .3s;
            }

            &:hover {
                border-color: $color-active;

                svg {
                    fill: $color-active
                }
            }
        }


    }
    .tab-label {
        padding: 12px 0;
        margin-right: 32px;
        cursor: pointer;
        
        &:not(.tab-label-disabled):hover {
            color: $color-hover;
        }

        &.tab-label-large {
            padding: 16px 0;
        }

        &.tab-label-small {
            padding: 8px 0;
        }

        &.tab-label-active {
            color: $color-active;
            font-weight: 600;
            border: 0px solid $color-active;
            border-width: 0 0 2px 0;
        }

        &.tab-label-disabled {
            cursor: not-allowed;
            color: $color-disabled;
        }
    }
    .tab-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 30px;
        height: 2px;
        background: $color-active;
    }

    &.tab-label-container-left {
        margin: 0 16px 0 0;
        border-width: 0 1px 0 0;
        flex-direction: column;

        &::before {
            display: block;
            overflow: hidden;
            content: '';
        }
        .tab-label {
            white-space: nowrap;
            padding: 0px 24px;
            margin: 0 0 16px;

            &.tab-label-active {
                border-width: 0 2px 0 0;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    &.tab-label-container-card {
        .tab-label {
            padding: 6px 8px;
            border: 1px solid #f0f0f0;
            border-radius: 2px 2px 0 0;
            margin-right: 2px;
            margin-bottom: -1px;

            &.tab-label-active {
                border-bottom: 1px solid #fff;
            }
        }
    }


}

.tab-content-container {
    width: 100%;
    display: flex;
    // overflow: hidden;
    transition: margin-left .3s;
    .tab-content {
        width: 100%;
        flex-shrink: 0;
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s;

        &:not(.tab-content-active) {
            height: 0;
            opacity: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }
    
}








// Button 组件

.aka-btn {
    color: $color-active;
    background: #fff;
    padding: 12px 20px;
    border: 1px solid $color-active;
    border-radius: 2px;
    margin: 0 10px;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: all .6s;
    
    &::after {
        transition: all .6s;
    }
}

.aka-btn-1:hover {
    color: #fff;
    background: $color-active;
}

.aka-btn-2 {
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        background: $color-active;
    }

    &:hover {
        color: #fff;

        &::after {
            height: 100%;
        }
    }
}

.aka-btn-3 {
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background: $color-active;
    }

    &:hover {
        color: #fff;

        &::after {
            width: 100%;
        }
    }
}

.aka-btn-4 {
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 120%;
        height: 0;
        top: 50%;
        left: 50%;
        background: $color-active;
        transform: translate(-50%, -50%);
    }

    &:hover {
        color: #fff;

        &::after {
            height: 120%;
        }
    }
}

.aka-btn-5 {
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 120%;
        height: 0;
        top: 50%;
        left: 50%;
        background: $color-active;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover {
        color: #fff;

        &::after {
            height: 120%;
        }
    }

    &:active {
        color: #fff;
        &::after {
            height: 200%;
        }
    }
}



.test {
    width: 40px;
    height: 40px;
    background: $color-active;
    filter: url('#test');
}